<% title "Editing Recurring Transaction" %>

<% form_for(@recurring_transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :class => "text span-10" %>
  </p>
  <p>
    <%= f.label :base_date %><br />
    <%= f.date_select :base_date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :class => "text span-3" %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency, :class => "text span-1" %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
