<div class="span-24">
  <table border="0" cellspacing="0" cellpadding="0">
    <caption><em>Add a transaction to this period</em></caption>
    <thead>
      <tr>
        <th class="span-8">Transaction</th>
        <th class="span-6">Date</th>
        <th class="span-3 right">Amount</th>
        <th class="span-3">Processed</th>
        <th class="last"/>
      </tr>
    </thead>
    <tbody>
      <% form_for [period, transaction] do |f| -%>
        <tr>
          <td><%= f.text_field :description, :class => "text span-8" %></td>
          <td><%= f.date_select :date%></td>
          <td class="right"><%= f.text_field :amount, :class => "text span-2" %></td>
          <td class="center"><%= f.check_box :processed %></td>
          <td><%= f.submit "Add" %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>