<p style="color: red"><%= flash[:error] %></p>
<div class="span-20">
  <table border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="span-6">Transaction</th>
        <th class="span-6">Date</th>
        <th class="span-2">Amount</th>
        <th class="span-1">Processed</th>
        <th class="span-1 last"/>
      </tr>
    </thead>
    <tfoot>
      <tr>     
        <td colspan="14">Total:
          <%= number_to_currency(period.total_transactions) %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <% form_for [period, transaction] do |f| -%>
        <tr>
          <td><%= f.text_field :description, :class => "text span-6" %></td>
          <td><%= f.date_select :date, :class => "span-6"%></td>
          <td><%= f.text_field :amount, :class => "text span-2" %></td>
          <td><%= f.check_box :processed %></td>
          <td><%= f.submit "Add" %></td>
        </tr>
      <% end -%>

      <% for t in transactions -%>
        <tr id="<%= dom_id(t) %>">
          <td><%= t.description %></td>
          <td><%= t.date %></td>
          <td><%= number_to_currency(t.amount) %></td>
          <td><%= t.processed %></td>
          <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
          <td><%= link_to 'Destroy', [t], :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>