<div class="span-24">
  <table border="0" cellspacing="0" cellpadding="0">
    <caption><em>Outstanding Transactions</em></caption>
    <thead>
      <tr>
        <th class="span-7">Transaction</th>
        <th class="span-6">Date</th>
        <th class="span-3 right">Amount</th>
        <th class="span-1"/>
        <th class="span-1"/>
        <th class="last"/>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td/>
        <td/>
        <td class="right">Total:
          <%= number_to_currency(period.outstanding_transactions_total) %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <% for t in period.outstanding_transactions -%>
        <tr id="<%= dom_id(t) %>">
          <td><%= t.description %></td>
          <td><%= t.date %></td>
          <td class="right"><%= number_to_currency(t.amount) %></td>
          <td><%= link_to 'Processed', :controller => 'transactions', :action => 'processed', :id => t.id %></td>
          <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
          <td><%= link_to 'Destroy', [t], :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>