<h1>Period from <%=h @period.start_date %> to <%=h @period.end_date %></h1>
<hr/>

<h3>Remaining Total: <%= number_to_currency(@period.total_transactions) %></h3>

<div id="new_transactions">
  <%= render :partial => 'new_transaction',
    :locals  => {:period => @period, :transaction => @transaction} %>
</div>

<div id="processed_transactions">
  <%= render :partial => 'processed_transactions',
    :locals  => {:period => @period} %>
</div>

<div id="outstanding_transactions">
  <%= render :partial => 'outstanding_transactions',
    :locals  => {:period => @period} %>
</div>
